body{
    background: rgb(255, 255, 255);

    font-family: 'Poppins', sans-serif;  
}
h1{
    font-size: 50px;
}
.orange-color{
    color: orangered;
}

section{
    display: flex;
    margin-bottom: 200px;
}

.half-width img{
    width: 100%;
}

.half-width{
    padding-left: 5%;
    width: 500px;
}

.batton{
text-decoration: none;
background-color: rgb(136, 255, 0);@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@600&display=swap');

color: black;
font-family: arial black;
border-radius: 5px;
padding: 10px 40px;
font-weight: 700;
}
.dream-big{

    background-image: url(images/dream-bg.png);
    background-repeat: no-repeat;
    background-position: right;
}
.flexible-container{
display: flex;

}
.experince-item{
box-shadow: 10px 10px 100px gray;

width: 70%; height: 500px;
margin-left: 5%;
margin-right: 5%;
padding-left: 30px;
padding-right: 30px;
border-radius: 10px;

}

.experince-area{

    background-image: url(images/exp-bg.png);
    background-repeat: no-repeat;
}
#full-stack{
    border-left: 12px solid darkblue;
}
#baby-stack{

    border-left: 12px solid green;
}


.center{
    text-align: center;
}




